@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
	box-sizing: border-box;
	margin: auto;
	padding: 0;
	background: rgb(245, 245, 245, 1);
}

.centre{
	margin: auto;
	width: 50%;
	--border: 3px solid green;
	padding: 10px;
}
.main {
	--display: table;
	padding-top: 80px;
	padding-left: 40px;
	float: left;
}

.contact {
	--display: table;
	padding-top: 40px;
	padding-left: 40px;
}

body {
	--display: inline-block;
	--background: blue;
}

h1 {
	font-family: "Montserrat", sans-serif;
	--padding-top: 50px;
	font-size: 50px;
	color: rgba(40, 40, 40, 1);
}

p {
	font-family: "Montserrat", sans-serif;
	color: rgba(70, 70, 70, 1);
	padding-bottom: 40px;
	font-size: 30px;
	padding-top: 10px;
}

li, a {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 26px;
	text-decoration: none;
}

button {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 26px;
	color: rgb(245, 245, 245, 1);
	text-decoration: none;
}

nav {
	
}

.nav__links {
	display: table;
	padding: 25px 10%;
	list-style: none;
}

.nav__links li {
	display: inline-block;
	padding: 0px 50px;
	align-items: center;
}

.nav__links li a {
	transition: all 0.3s ease 0s;
	color: rgba(70, 70, 70, 1);
}

.nav__links li a:hover {
	color: rgb(130, 120, 250, 1)
}

button {
	padding: 30px 35px;
	border: 2px solid black;
	border-color: rgb(130, 120, 250, 1);
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	background: rgb(130, 120, 250, 1);
}

button:hover {
	background: rgb(104, 96, 200, 1);
	border-color: rgb(104, 96, 200, 1);
}

.imgbox2 {
	--display: grid;
	float: right;
	--height: 60%;
	width:43%;
	background: rgb(245, 245, 245, 1);
	bottom: 0px;
	left: 0px;
	background: blue;
}

.center-fit2 {
	float: right;
	min-width: 100%;
	max-height: 87.44vh;
}

.icons {
	padding-top: 50px;
}

.icons li {
	display: inline-block;
	padding-right: 50px;
	align-items: center;
}

.h1-p {
	font-family: "Montserrat", sans-serif;
	--padding-top: 50px;
	font-size: 50px;
	text-align: center;
	color: rgba(40, 40, 40, 1);
}
